.todo-container {
    width: 50%;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #355b6fba;
    gap: 1rem;
    .todo-header {
        padding: 0.5rem;
        border-block-end: 1px solid black;
        width: 100%;
        justify-content: end;
        h1 {
            color: $clr3;
            word-spacing: rem(10px);
            margin: auto;
        }
        .add-new-todo-btn {
            position: absolute;
            word-spacing: rem(3px);
            background-color: $clr3;
        }
    }
}