.app-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid black;
    .nav-links {
        gap: 1rem;
        a {
            font-size: rem(20px);
        }
    }
    .logo {
        font-size: rem(22px);
        font-family: outfit;
    }
    .sign-out-btn {
        background-color: #ef233c;
        color: #edf2f4;
        padding: 0.2rem 1rem;
    }
    .login-btn {
        padding: 0.2rem 1rem;
    }
}