.app-footer {
    color: $clr1;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
    .logo {
        font-size: 1.375rem;
        font-family: outfit;
        font-weight: bold;
        color: #ef233c;
    }
}