.app-header {
    padding: 0.5rem 1rem;
    header {
        flex-wrap: wrap;
    }
    .nav-links {
        gap: 1rem;
        color: $clr3;
        a {
            font-size: 1.5rem;
            @include for-mobile-layout {
                font-size: 1rem;
            }
        }
    }
    .logo {
        font-size: 2rem;
        font-family: outfit;
        @include for-mobile-layout {
            font-size: 1.5rem;
        }
    }
    .btn {
        @include for-mobile-layout {
            font-size: 1rem;
            padding: 0.2rem 0.5rem;
        }
        padding: 0.2rem 1rem;
    }
    .sign-out-btn {
        background-color: #ef233c;
        color: $clr3;
    }
}