.app-header {
    padding: 0.5rem 1rem;
    header {
        flex-wrap: wrap;
    }
    .nav-links {
        gap: 1rem;
        color: $clr3;
        a {
            font-size: 1.5rem;
        }
    }
    .logo {
        font-size: 2rem;
        font-family: outfit;
    }
    .sign-out-btn {
        background-color: #ef233c;
        color: $clr3;
        padding: 0.2rem 1rem;
    }
    .login-btn {
        padding: 0.2rem 1rem;
    }
}