.todo-preview-container {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    font-size: rem(14px);
    background-color: $clr3;
    flex-wrap: wrap;
    &.done {
        text-decoration: line-through;
    }
    .todo-preview {
        flex-grow: 1;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: baseline;
        h3 {
            width: rem(200px);
            font-size: rem(22px);
        }
        h4 {
            font-size: rem(18px);
            color: #0f3e91;
        }
    }
    .todo-preview-actions {
        gap: 1rem;
        svg {
            font-size: rem(22px);
        }
        .todo-edit-btn {
            font-size: rem(22px);
            background-color: #8d99ae;
            border-radius: 3px;
            padding: 0.2rem 1.5rem;
            font-weight: bold;
        }
    }
}