@font-face {
    font-family: outfit;
    src: url(../../font/Outfit/Outfit-Light.ttf);
}

@font-face {
    font-family: charlie;
    src: url(../../font/Charlie__Atlassian/CharlieDisplay-Regular.ttf);
}